@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

body {
  text-align: center;
  background: #f7f7f7;
  /* by footer height */
  margin-bottom: 60px; 
}

.valign {
    margin-top: 20vh;
}

.foot-valign {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.heart {
  color: #e25555;
}

.container-logo {
  max-width: 500px;
  padding-top: 30px;
  display: inline-block;
  position: relative;
  top: 100px;
}

.letter {
  display: inline-block;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 140px;
  font-size: calc(110px - 0.1vw);
  color: #3c3c3c;
  -webkit-text-stroke: 0px #282828;
  position: relative;
  z-index: 1;
  top: 0px;
  line-height: 120px;
  top: 0px;
  margin-right: -10px;
  -webkit-transform: translate3d(0, 150px, 0);
  -moz-transform: translate3d(0, 150px, 0);
  -ms-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
}

.G:after {
  content: "G";
  font-size: 140px;
    font-size: calc(110px - 0.1vw);
  color: #4285f4;
}

.g:after {
  content: "e";
  font-size: 140px;
    font-size: calc(110px - 0.1vw);
  color: #4285f4;
}

.o:after {
  content: "T";
  font-size: 140px;
    font-size: calc(110px - 0.1vw);
  color: #ea4335;
}

.r:after {
content: "r";
font-size: 140px;
font-size: calc(110px - 0.1vw);
  color: #fbbc05;
}

.l:after {
  content: "n";
  font-size: 140px;
    font-size: calc(110px - 0.1vw);
  color: #34a853;
}

.e:after {
  content: "d";
  font-size: 140px;
    font-size: calc(110px - 0.1vw);
  color: #ea4335;
}

.G:after, .o:after, .r:after, .g:after, .e:after, .l:after {
  position: absolute;
  left: 0;
  top: 0px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  z-index: 100;
}

.letter:nth-child(1) {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}
.letter:nth-child(1):after {
  animation-delay: 2.7s;
  -webkit-animation-delay: 2.7s;
}

.letter:nth-child(2) {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
.letter:nth-child(2):after {
  animation-delay: 2.9s;
  -webkit-animation-delay: 2.9s;
}

.letter:nth-child(3) {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}
.letter:nth-child(3):after {
  animation-delay: 3.1s;
  -webkit-animation-delay: 3.1s;
}

.letter:nth-child(4) {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
.letter:nth-child(4):after {
  animation-delay: 3.3s;
  -webkit-animation-delay: 3.3s;
}

.letter:nth-child(5) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.letter:nth-child(5):after {
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}

.letter:nth-child(6) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
.letter:nth-child(6):after {
  animation-delay: 3.7s;
  -webkit-animation-delay: 3.7s;
}

.letter:nth-child(7) {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
.letter:nth-child(7):after {
  animation-delay: 3.9s;
  -webkit-animation-delay: 3.9s;
}

.letter {
  -webkit-animation: show 0.3s 4s 1 ease-out forwards;
  -moz-animation: show 0.3s 4s 1 ease-out forwards;
  -o-animation: show 0.3s 4s 1 ease-out forwards;
  animation: show 0.3s 4s 1 ease-out forwards;
}

.letter:after {
  -webkit-animation: up 1s 1 ease-out forwards;
  -moz-animation: up 1s 1 ease-out forwards;
  -o-animation: up 1s 1 ease-out forwards;
  animation: up 1s 1 ease-out forwards;
}

@keyframes show {
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes up {
  30% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
}
@-webkit-keyframes show {
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
@-webkit-keyframes up {
  30% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.gameButton {
    margin-top: 200px;
    animation: fadein 7s ease;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -1rem;
  border: solid #ddd;
  border-width: .2rem 0 0
}

.bd-example::after {
  display: block;
  content: "";
  clear: both
}

@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem
  }
}